
<h1 align="center">Blog Title</h1>

<% yield %>

<div align="center">
  <%= link_to "Finland", posts_path(:tag=>"Finland") %>
</div>

<div class="flex-table">
  <div class="database_table_body">
    <% @posts.each do |post| %>
     <%= div_for post, :class => "large_rowBox" do %>
        <div class="post_image">
          <%= image_tag(post.image_url, width:90, height:70) %>
        </div>
        <div class="post_title">
          <%= post.title %>
        </div>
        <div class="post_body">
          <%= post.body %>
        </div>
        <div class="post_author">
          By: <%= post.user.name %>
        </div>
        <div class="category">
          Category: <%= post.tag %>
        </div>
      <% end %>
    </div>
      <% end %>
    </div>
  </div>
 