<% yield %>

<div class="flex-table">
    <% @posts.each do |post| %>
     <%= div_for post, :class => "large_rowBox" do %>
        <div class="post-item">
          <div class="post-image">
            <%= image_tag(post.image_url, width:300, height:200) %>
          </div>
          <div class="post-text">
            <div class="post-title">
              <%= post.title %>
            </div>
            <div class="post-author">
                <span>
                  Last Updated on <%= post.updated_at.strftime("%b %e") %>
                </span>
                  by <%= post.user.name %>
            </div>
            <div class="post-body">
              <p>
                <%= post.body %>...
              </p>
            </div>
            <div class="read-more">
              <p>
              </p>
            <%= link_to 'Read More', post %>
            </div>
 <!--            <div class="post-category">
              Tags: <%= post.tag %>
            </div> -->
  
          <!--end post text-->
          </div>
          <!--end post item-->
        </div>
      <% end %>
      <!--end rowbox-->
    <% end %>
  </div>
 