
<h1 align="center">Welcome to the Blog</h1>

<% yield %>
<!-- 
<nav>
  <div class="login">
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path %>
      <% else %>
      <%= link_to 'Sign-In', new_user_session_path %>
    <% end %>
  </div>
</nav> -->


<div class="flex-table">
  <div class="database_table_body">
    <% @posts.each do |post| %>
     <%= div_for post, :class => "large_rowBox" do %>
        <div class="post_image">
          <%= image_tag(post.image_url, width:90, height:70) %>
        </div>
        <div class="post_title">
          <%= post.title %>
        </div>
        <div class="post_body">
          <%= post.body %>
        </div>
          <div class="post_author">
          By: <%= post.user_id %>
        </div>
      <% end %>
    </div>
      <% end %>
    </div>
  </div>
 