<link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet' type='text/css'>

<div class="center-block">
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, size: "50%" %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, size: "80%" %>
  </div>
  <div class="image">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <p>
  </p>
    <div class="category">
    <%= f.label :category %><br>
    <%= f.select :tag, ['Finland', 'Netherlands', 'UK']%>
<!--     <%= f.text_field :tag %> -->
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
