<%= csrf_meta_tags %>

<!DOCTYPE html>
<html>
<head>
  <title>Basic Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <div class="flex-table"> -->

<nav>
   <% if user_signed_in? %>
    <%= link_to 'My Posts', controller: 'posts' %> 
    <%= link_to "view my profile", current_user %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
   <!--   <%= link_to "Log out", destroy_user_session_path %>  -->
  <% else %>
    <%= link_to 'Sign in', new_user_session_path %>
  <% end %>
</nav>

  <!--   <div id="register">
    <%= link_to 'Sign up', new_user_registration_path %>
    </div> -->

<%= yield %>

</body>
</html>
