<!DOCTYPE html>
<html>
<head>
  <title>Basic Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <div class="flex-table"> -->

 <% if user_signed_in? %>
​
     <div id="logout">
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </div>

    <% else %>
​
   <div id="login">
    <%= link_to 'Sign in', new_user_session_path %>
    </div>
​
   <% end %>

    <div id="register">
    <%= link_to 'Sign up', new_user_registration_path %>
    </div>

<%= yield %>

</body>
</html>
